.ap-hover {
    left: -66px !important;
}
.aplayer .aplayer-lrc p {
    /* text-indent: -999rem!important;
    z-index: -999; */
    color: #30a9de;
    font-size: 16px;
    line-height: 20px!important;
    height: 20px!important;
}
.aplayer-lrc-current {
  min-height: 20px;
}
@media screen and (max-width: 420px) {
    .aplayer.aplayer-fixed .aplayer-body {
      max-width: 90vw;
    }
  }

.mt {
  width: 100vw;
  margin-top: .8rem;
}
.aplayer .aplayer-lrc {
  height: 40px;
}